<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Digency Challenge N°13</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon color-light"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/cards" class="nav-link active">Liste des cartes</a>
      </li>
      <li class="nav-item">
        <a routerLink="/cards/add" class="nav-link active">Ajouter une carte</a>
      </li>
    </ul>
  </div>
</nav>
